/* 
    Document   : style
    Created on : 12/02/2014, 18:06:43 
    Author     : Juan Ramos

*/

body{

	background: #971F19 url("../images/background.jpg") no-repeat center top fixed;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}


.wrapper{
	width: 980px;
}
