/* 
    Document   : style
    Created on : 12/02/2014, 18:06:43 
    Author     : Juan Ramos

*/

body{

	background: #971F19 url("../images/background.jpg") no-repeat center top fixed;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
body,h2,h3,h4,p{	
	font-weight: 300
}
li{
	list-style: none;
}
ul{
	margin: 0;
	padding: 0;
}
.wrapper{
	left:50%;
    margin-left:-480px;
    padding: 0 10px;
    position: fixed;
	width: 960px;
}
/*=================================================================
header
===================================================================*/
figure#logo{
	width: 220px;
}
figure#logo, #contend-form , header form, #contend-form>a, figure#user, #user-info p, #user-info img{
	display: inline-block;
	vertical-align: top;
}
figure#user, #user-info p, #user-info img{
	vertical-align: top;
}
header{
	box-sizing:border-box;
	padding: 53px 0 20px;
}

#contend-form{
	text-align: right;
	width: 677px;
}
#contend-form a{
	color: #fff;
	font-size: 1em;
	font-weight: 100;
}
#contend-form input{
	border: none;	
	box-sizing: border-box;
	font-size: 0.7em;
	height: 15px;
	padding-left: 0.5em;
	width: 125px;
}
#contend-form input[type="submit"]{
	border: none;	
	box-sizing: border-box;
	font-size: 0.7em;
	height: 15px;
	padding-left: 0.5em;
	width: 25px;
}
#engranaje{
	background: url("http://localhost/lemurFront/css/../images/engranaje.png") no-repeat left top;
	display: inline-block;
	height: 15px;
	margin-top: 20px;
	padding: 0 2px;
	width: 15px;
}

#engranaje:hover{
	background-position: 0 -15px;
}
#header-info{
	margin-top: 20px;
}
#hours{
	width: 518px
}
#user-info{
	background: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	text-align: right;
	width: 140px;
}
#hours,#user-info{
	display: inline-block;
	vertical-align: top;
}
#user-info a{
	text-decoration: none;
}
#user-info p{
	color: #fff;
	font-size: 1.2em;
	margin: 0;
	line-height: 24px;
}
#user img{

	max-width: 40px;
}
/*=================================================================
nav
===================================================================*/
nav{
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
	padding: 10px 40px;
	vertical-align: middle;
	width: 140px;

}
nav li {
	border-bottom: 1px solid #fff;
	color: #fff;
	font-weight: 100;
	padding-bottom: 5px;
	width: 140px;
}


/*=================================================================
Contend
===================================================================*/
#contend{
	width: 658px;
	margin-left:20px;
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	height: 488px;
	-moz-box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
#contend h2{
	color: #FFFFFF;
	font-size: 2.05em;
}	
#contend p{
	color: #FFFFFF;
	font-size: 19px;
	margin: 0 0 32px;
	max-width: 560px;
	text-align: justify;
}
#contend a.link{
	width: 560px;
	min-height: 56px;
	background-color: #E6AD93;
	background-color: rgba(206, 92, 39, 0.5);
	text-align: left;
	color: #FFFFFF;
	font-size: 33px;
	margin-top: 14px;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-decoration: none;

}
#contend  .contend-img{
	line-height: 40px;
	text-align: center;
	width: 100px;
	padding: 15px 0;
	height: 74px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#contend  .contend-p p{
	font-size: 2.05rem;
	line-height: 2.25em;
	margin-left: -16px;
}
#contend .contend-img, #contend .contend-p {
	display: inline-block;
	height: 75px;	
	vertical-align: middle;
}
.categorias{
	padding: 0 0 20px 40px;
}
/*=================================================================
Footer
===================================================================*/
footer{
	background: rgba(0,0,0,0.5);
	bottom: 0;
	left:50%;
    margin-left:-480px;
    padding: 3px 40px;
    position: fixed;
	width: 960px;
}
footer a{
	color:#F7931E;
}
footer img{
	height: 17px;
	margin-left: 20px
}
footer p{
	color:#E47F1C;
	font-size: .75rem;
	margin: 2px
}
footer p,footer img{
	display: inline-block;
	vertical-align: top;
}